<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="CSS/tcadastro.css">
    <script src="Js/script.js" defer></script>
</head>
<body>

<div class="a">
    <h2>Cadastro de Usuário</h2>

    
    <div id="message" class="error-message"></div>

    
    <div class="loginusuario">
        <label for="login">Login:</label>
        <input type="text" id="login" placeholder="Digite seu login" required>
    </div>

    <div class="loginusuario">
        <label for="password">Senha:</label>
        <input type="password" id="password" placeholder="Digite sua senha" required>
    </div>

    <div class="botoes">
        <button class="salvar" onclick="registrausuario()">Salvar</button>
        <button class="voltar" onclick="goBack()">Voltar</button>
    </div>
</div>

</body>
</html>
