<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="CSS/tinicial.css">
</head>
<body>
    <nav class="a">
        <div class="Gcadastro" onclick="window.location.href='tusuario.html'">
            <img src="" alt="FotoUsuario">
            <span>Usuário</span>
        </div>
    </nav>

    <h2>Fichas</h2>
    
    <nav class="cbotoes">
        <div class="botoes">
            <button class="button" onclick="window.location.href='tlistapersonagens.html'">Personagens</button>
            <button class="button" onclick="window.location.href='tmonstro.html'">Monstros</button>
            <button class="button" onclick="window.location.href=''">Magias</button>
            <button class="button" onclick="window.location.href=''">Itens</button>
            <button class="button" onclick="window.location.href='tregistroant.html'">Registro de Aventura</button>
            <button class="button" onclick="window.location.href='tlogin.html'">sair</button>
        </div>
    </nav>
</body>
</html>